.App {

  position: relative;
  width: 100%;
  height: 100vh;
}


/* :root {
  --cards: 4;
  --cardHeight: 87vh;
  --cardTopPadding : 1.5rem;
  --cardXargin: 4vw;
}
.cards{
  list-style: none;
  padding-left: ø;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat (var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
}

.card{
  position: sticky;
  
  position: -webkit-sticky ;
top: 0;
padding-top: calc( var(--cardTopPadding)); ;
} */